<template>
    <div id="component-view">
        <div id="view-header">
            <div id="view-img">
                <img src="../assets/img/logoSVG/picture.svg" alt="">
            </div>
            <div id="view-details">
                <div id="view-header-infos">
                    <h2>Titre Header</h2>
                    <p>Informations about</p>
                </div>
                <div id="view-header-buttons">
                    <button @click="activeTab = 'Component1'">Tab A</button>
                    <button @click="activeTab = 'Component2'">Tab B</button>
                    <button @click="activeTab = 'Component3'">Tab C</button>

                    <!-- <button @click="tab('TabA')">Tab A</button>
                    <button @click="tab('TabB')">Tab B</button>
                    <button @click="tab('TabC')">Tab C</button> -->
                </div>
            </div>
        </div>
        <!-- <Component1 v-if="activeTab === 'TabA'"/>
        <Component2 v-if="activeTab === 'TabB'"/>
        <Component3 v-if="activeTab === 'TabC'"/> -->
        <component :is="activeTab"/>
        <!-- <Component1 /> -->
    </div>
</template>

<script>
    import Component1 from '@/components/componentNavigation/Component1.vue'
    import Component2 from '@/components/componentNavigation/Component2.vue'
    import Component3 from '@/components/componentNavigation/Component3.vue'

    export default {
        components: {
            Component1,
            Component2,
            Component3
        },
        data() {
            return {
                activeTab: 'Component1'
            }
        },
        methods: {
            tab(el) {
                this.activeTab = el;
                console.log('test tab:', this.activeTab)
            }
        }
    }
</script>

<style lang="scss">
    #component-view {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 2em;
        #view-header {
            display: flex;
            align-items: center;
            height: 20%;
            width: 100%;
            padding: 2em;
            img {
                width: 100px;
                height: 100px;
            }
            #view-header-infos {
                h2 {
    
                }
                p {
    
                }
            }
        }
    }
</style>