<template>
    <span class="dropdown" :class="{'is-active': open}">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @click.prevent="toggle">
          <span>Dropdown button</span>
        </button>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <a href="#" @click="close(this)" class="dropdown-item">Hello</a>
          <a href="#" class="dropdown-item">Hello</a>
          <a href="#" class="dropdown-item">Hello</a>
          <a href="#" class="dropdown-item">Hello</a>
        </div>
      </div>
    </span>
</template>

<script>
export default {
  data() {
    return {
      open: false
    };
  },

  created() {
    window.addEventListener("click", this.close);
  },

  beforeDestroy() {
    window.removeEventListener("click", this.close);
  },

  methods: {
    toggle() {
      this.open = !this.open;
    },

    close(e) {
      if (!this.$el.contains(e.target)) {
        this.open = false;
      }
    }
  }
}
</script>

<style scoped lang="scss">
    .dropdown {
        button {
            cursor: pointer;
            padding: 1em;
            border-radius: 50px;
            border: 1px solid #dedede;
            &:hover {
                color: #fff;
                background: #258bdf;
                border: 1px solid #258bdf;
            }
        }
    }
</style>