<template>
  <div id="home">
    <h1>Vue 3 Tutos</h1>
  </div>
</template>

<!-- <script lang="ts">
  export default {
    data() {
      return {

      }
    },
    methods: {
    }
  }
</script> -->

<style scoped lang="scss">
  #home {
    }
</style>