<template>
  <div id="app">
    <h1>Parent Component</h1>
    watching child component property counter: {{ counter }}
    <hr />
    <ChildComponent ref="child" />
  </div>
</template>

<script>
import ChildComponent from "@/components/ChildComponent.vue";

export default {
  name: "App",
  data: () => ({
    counter: 0,
  }),
  components: {
    ChildComponent,
  },
  mounted() {
      this.$watch(
        // use watch to a Title/playlist/webradio var which fetch count via request ?
      "$refs.child.counter",
      (new_value, old_value) => (this.counter = new_value)
    );
  },
};
</script>

<style>

</style>