<template>
<div id="data-table-presentation">
  <h2>Data-Table Presentation</h2>
  <div class="text-uppercase text-bold">id selected: {{selected}}</div>
  <!-- <div class="text-uppercase text-bold">title selected: {{selected.title}}</div>
  <div class="text-uppercase text-bold">artist selected: {{selected.artist}}</div>
  <div class="text-uppercase text-bold">album selected: {{selected.album}}</div> -->
  <div id="table">
    <table cellspacing="0">
      <thead>
        <tr>
          <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
            <div class="arrow" v-if="col == sortColumn" v-bind:class="ascending ? 'arrow_up' : 'arrow_down'"></div>
          </th>
          <th>
            <label class="form-checkbox">
              <input type="checkbox" v-model="selectAll" @click="selectIds">
              <span class="checkmark"></span>
            </label>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rows">
          <td v-for="col in columns">{{row[col]}}</td>
          <td>
            <label class="form-checkbox">
              <input type="checkbox" :value="rows.id" v-model="selected">
              <span class="checkmark"></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <h2>Code</h2>
    <h3 @click="toggleHTML = !toggleHTML">HTML</h3>
    <pre v-if="toggleHTML">
      <code v-pre>
      &lt;table cellspacing="0"&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Titre&lt;/th&gt;
            &lt;th&gt;Artiste&lt;/th&gt;
            &lt;th&gt;Album&lt;/th&gt;
            &lt;th&gt;Durée&lt;/th&gt;
            &lt;th&gt;Ecouter&lt;/th&gt;
            &lt;th&gt;Options&lt;/th&gt;
            &lt;th&gt;
              &lt;label class="form-checkbox"&gt;
                &lt;input type="checkbox" v-model="selectAll" @click="selectIds"&gt;
                &lt;span class="checkmark"&gt;&lt;/span&gt;
              &lt;/label&gt;
            &lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          &lt;tr v-for="i in items"&gt;
            &lt;td&gt;&lt;img src="../assets/img/logoSVG/picture.svg"/&gt; {{i.title}}&lt;/td&gt;
            &lt;td&gt;{{i.artist}}&lt;/td&gt;
            &lt;td&gt;{{i.album}}&lt;/td&gt;
            &lt;td&gt;{{i.duration}}&lt;/td&gt;
            &lt;td&gt;&lt;img src="../assets/img/logoSVG/equalizer.svg"/&gt;&lt;/td&gt;
            &lt;td&gt;&lt;img src="../assets/img/logoSVG/menu.svg"/&gt;&lt;/td&gt;
            &lt;td&gt;
              &lt;label class="form-checkbox"&gt;
                &lt;input type="checkbox" :value="i.id" v-model="selected"&gt;
                &lt;span class="checkmark"&gt;&lt;/span&gt;
              &lt;/label&gt;
            &lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
      </code>
    </pre>
    <h3 @click="toggleSCSS = !toggleSCSS">CSS</h3>
    <pre v-if="toggleSCSS">
      <code>
        .form-checkbox {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              &:checked ~ .checkmark {
                background-color: #2196F3;
                &:after {
                  display: block;
                }
              }
            }
            &:hover input ~ .checkmark {
              background-color: #ccc;
            }
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 15px;
              width: 15px;
              background-color: #eee;
              &:after {
                content: "";
                position: absolute;
                display: none;
              }
              &:after {
                left: 5px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
          }
      </code>
    </pre>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        ascending: false,
        sortColumn: '',
        selected: [],
        selectAll: false,
        toggleHTML: false,
        toggleSCSS: false,
        rows: [
          { id: 1, name: "Chandler Bing", phone: '305-917-1301', profession: 'IT Manager' },
          { id: 2, name: "Ross Geller", phone: '210-684-8953', profession: 'Paleontologist' },
          { id: 3, name: "Rachel Green", phone: '765-338-0312', profession: 'Waitress'},
          { id: 4, name: "Monica Geller", phone: '714-541-3336', profession: 'Head Chef' },
          { id: 5, name: "Joey Tribbiani", phone: '972-297-6037', profession: 'Actor' },
          { id: 6, name: "Phoebe Buffay", phone: '760-318-8376', profession: 'Masseuse' }
        ]
      }
    },
    methods: {
      // NOT WORKING YET
      selectIds() {
        this.selected = [];
        if (!this.selectAll) {
          for (let i in this.rows) {
            this.selected.push(this.rows[i].id);
          }
          console.log('this.rows[i]:', this.rows)
        }
      },
      "sortTable": function sortTable(col) {
        if (this.sortColumn === col) {
          this.ascending = !this.ascending;
        } else {
          this.ascending = true;
          this.sortColumn = col;
        }

        var ascending = this.ascending;

        this.rows.sort(function(a, b) {
          if (a[col] > b[col]) {
            return ascending ? 1 : -1
          } else if (a[col] < b[col]) {
            return ascending ? -1 : 1
          }
          return 0;
        })
      }
    },
    computed: {
      "columns": function columns() {
        if (this.rows.length == 0) {
          return [];
        }
        return Object.keys(this.rows[0])
      }
    }
  }
</script>

<style scoped lang="scss">
  #data-table-presentation {
    width: 90%;
    height: 90%;
    padding: 2em;
    color: #fff;
    h3 {
      cursor: pointer;
      &:hover {
        color: #41b883;
      }
    }
    pre {
      border: 1px solid #fff;
      margin-bottom: 2em;
    }
    #table::-webkit-scrollbar {
      display: none;
    }
    #table {
      max-height: 500px;
      color: #212121;
      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none; 
      margin-bottom: 2em;
      table {
        width: 100%;
        background: #fff;
        thead {
          position: sticky;
          top: 0;
          color: #fff;
          background: #212121;
          z-index: 1;
          th {
            padding: 1em;
          }
        }
        ///////////////// Check-box Cutom
        .form-checkbox {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
              background-color: #2196F3;
              &:after {
                display: block;
              }
            }
          }
          &:hover input ~ .checkmark {
            background-color: #ccc;
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            &:after {
              content: "";
              position: absolute;
              display: none;
            }
            &:after {
              left: 5px;
              top: 2px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        tbody {
          tr {
            &:hover {
              background: #afafaf;
            }
            td {
              text-align: center;
              padding: 1em;
              img {
                cursor: pointer;
                display: inline-flex;
                vertical-align: middle;
                width: 2em;
              }
            }
          }
        }
      }
    }
  }
</style>