<template>
  <div class="main">
    <div id="french" class="boxed">
      <h2>Bonjour</h2>
    </div>
    <div id="english" class="boxed">
      <h2>Hello</h2>
    </div>
    <div id="i18n" class="boxed">
      <h2>{{ $t("hello") }}</h2>
    </div>
  </div>
</template>

<script>
</script>

<style lang="scss">
.main {
  display: flex;
  padding: 2em;
  margin: 2em;
  border: 1px solid #dedede;
  .boxed {
    padding: 2em;
    margin: 1em;
    border: 1px solid red;
  }
}
</style>