<template>
  <div>
    {{ crumbs }} // printing raw json <br /><br />
    <div class="container">
      <b-breadcrumb :items="crumbs" />
    </div>
  </div>
</template>

<script>
export default {
  /* computed: {
    crumbs: function () {
      let pathArray = this.$route.path.split("/");
      pathArray.shift();
      let breadcrumbs = pathArray.reduce((breadcrumbArray, path, index) => {
        breadcrumbArray.push({
          path: path,
          to: breadcrumbArray[index - 1] ? "/" + breadcrumbArray[index - 1].path + "/" + path : "/" + path,
          text: this.$route.matched[index].meta.breadCrumb || path,
        });
        return breadcrumbArray;
      }, []);
      return breadcrumbs;
    },
  }, */
};
</script>

<style scoped>
.breadcrumb {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.37rem;
}
</style>