<template>
  <div>
    <h1>Child Component</h1>
    <button @click="counter++">Increase</button>
    The counter is {{ counter }}
  </div>
</template>

<script>
export default {
  name: "ChildComponent",
  data: () => ({
    counter: 0,
  }),
};
</script>

<style>
    
</style>