<template>
  <div id="sidenav">
    <img :src="image" alt="logo" />
    <div id="path" class="breadcrumb" aria-label="breadcrumbs">
      <Breadcrumb :crumbs="crumbs" @selected="selected" />
    </div>
    <router-link to="/"
      ><img src="../assets/img/logoSVG/close.svg" /> Home</router-link
    >
    <router-link to="/data-table"
      ><img src="../assets/img/logoSVG/check.svg" /> Data-table</router-link
    >
    <router-link to="/slider"
      ><img src="../assets/img/logoSVG/close.svg" /> Range Slider</router-link
    >
    <router-link to="/navigation"
      ><img src="../assets/img/logoSVG/close.svg" /> Navigating Inside
      Components</router-link
    >
    <router-link to="/dragNDrop"
      ><img src="../assets/img/logoSVG/close.svg" /> Drag and Drop</router-link
    >
    <router-link to="/pToCSync"
      ><img src="../assets/img/logoSVG/close.svg" /> Parent/Child
      Sync</router-link
    >
    <router-link to="/traductions"
      ><img src="../assets/img/logoSVG/close.svg" /> Traductions
    </router-link>
    <router-link to="#"
      ><img src="../assets/img/logoSVG/close.svg" />
    </router-link>
    <router-link to="#"
      ><img src="../assets/img/logoSVG/close.svg" />
    </router-link>
    <router-link to="#"
      ><img src="../assets/img/logoSVG/close.svg" />
    </router-link>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb.vue";
export default {
  data() {
    return {
      image: "./src/assets/logo.svg",
      crumbs: ["Home", "Category", "Sub category"],
    };
  },
  components: { Breadcrumb },
};
</script>

<style scoped lang="scss">
#sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2em;
  border-right: 1px solid #d9d9d9;
  img {
    margin: 2em;
    margin-bottom: 4em;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #41b883;
    padding: 1em;
    border-radius: 50px;
    width: 100%;
    &:hover {
      background: #41b883;
      color: #fff;
    }
    img {
      margin: 0;
      margin-right: 1em;
      filter: invert(100%);
      fill: #41b883;
      width: 2em;
    }
  }
}
</style>