<template>
    <div id="subcomponent1-view" v-if="activeSubSubTab === 'Sub1'">
        <button @click="tabSubSub('Sub2')">Back</button>
        <!-- <div id="item-card">
            <img src="@/assets/img/logoSVG/picture.svg" alt="logo">
            <h2>Card Title</h2>
            <button @click="tabSub('Sub2')">GO</button>
        </div> -->
    </div>
    
    <Component2 v-if="activeSubSubTab === 'Sub2'"/>
</template>

<script>
    import Component2 from '@/components/componentNavigation/Component2.vue'
    export default {
        components: {
            Component2
        },
        data() {
            return {
                activeSubSubTab: 'Sub1'
            }
        },
        methods: {
            tabSubSub(el) {
                this.activeSubSubTab = el;
                console.log('test:', this.activeSubSubTab)
            }
        }
    }
</script>

<style lang="scss">
    #subcomponent1-view {
        width: 100%;
        height: 100%;
        background: blueviolet;
        button {
            margin: 2em;
        }
        #item-card {
            display: flex;
            flex-wrap: wrap;
            width: 20%;
            margin: 1em;
            padding: 1em;
            background: #212121;
            border-radius: 18px;
        }
    }
</style>