<template>
    <div id="component2-view">
        <button>test2</button>
    </div>
</template>

<script>

</script>

<style lang="scss">
    #component2-view {
        width: 100%;
        height: 100%;
        background: greenyellow;
        button {
            margin: 2em;
        }
    }
</style>