<template>
    <div id="component1-view" v-if="activeSubTab === 'Sub1'">
        <button>test</button>
        <div id="item-card">
            <img src="@/assets/img/logoSVG/picture.svg" alt="logo">
            <h2>Card Title</h2>
            <button @click="tabSub('Sub2')">GO</button>
        </div>
    </div>
    
    <SubComponent1 v-if="activeSubTab === 'Sub2'"/>
</template>

<script>
    import SubComponent1 from '../componentNavigation/subComponent1/SubComponent1.vue'
    export default {
        components: {
            SubComponent1,
        },
        data() {
            return {
                activeSubTab: 'Sub1'
            }
        },
        methods: {
            tabSub(el) {
                this.activeSubTab = el;
                console.log('test tabSub:', this.activeSubTab)
            }
        }
    }
</script>

<style lang="scss">
    #component1-view {
        width: 100%;
        height: 100%;
        background: red;
        button {
            margin: 2em;
        }
        #item-card {
            display: flex;
            flex-wrap: wrap;
            width: 20%;
            margin: 1em;
            padding: 1em;
            background: #212121;
            border-radius: 18px;
        }
    }
</style>