<template>
    <div id="component3-view">
        <button>test3</button>
    </div>
</template>

<script>

</script>

<style lang="scss">
    #component3-view {
        width: 100%;
        height: 100%;
        background: cyan;
        button {
            margin: 2em;
        }
    }
</style>