<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Sidenav from '@/components/Sidenav.vue'
</script>

<template>
  <main>
    <div id="navigation">
      <Sidenav />
    </div>
    <div id="view">
      <RouterView />
    </div>
  </main>
</template>

<style scoped lang="scss">
  main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    #navigation {
      width: 20%;
    }
    #view {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
  }
</style>
